#footer {
  background: linear-gradient(#444, #333);
}

#footer-container {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-list {
  display: flex;

  list-style: none;
  color: #aaa;
}

#footer-list .footer-list-item {
  padding-right: 1rem;
}

#footer-list .footer-list-item-link {
  color: #aaa;
}

#footer-list .footer-list-item-link:hover {
  color: #fff;
}
