#posts-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

#posts-container .post {
  padding: 1rem;
  margin-bottom: 1rem;
}

#posts-container .post img {
  width: 100%;
}
