#container {
  min-height: 800px;
  display: flex;
  flex-direction: column;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Roboto';
}
a {
  color: #000;
  text-decoration: none;
}
.box-shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.box-shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}
#header {
  background: -webkit-linear-gradient(#282828, #787878);
}
#header-container {
  max-width: 800px;
  height: 160px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#header-title {
  margin-bottom: 3rem;
  position: relative;
  color: #fff;
  font-size: 2.5rem;
}
#header-title:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAABYklEQVRYR+3XvQ0CMQwFYK6gZQJKFmEVBmMVFqFkAloKUJCCfMFxnu3EEiI0FFzClxfn55bNj3wWznm4nJ41//V4ZtuMHu/qTyVgCYkGf6AaZEZHYt9QC9KDtZRWFfq43Vezvd3vqmWIJqsJpOwTTpTCObSE1QBpGrRPGJo7yOASy0GtQA6rhqZOECyCLMsrA7kQzKuew9JUJWirjLit0AzNydLRZyiH1OLK6Tdv+NLJRaEeIN0Cv45DpLbQ47JWy2h7Eeo9AFq7gxaZnk8lJV4wrOn2SjIj0zd0E7KCLemJG762wwg4e4Rqoa07LLqfcv3UjmJo6lsDoQnX/qg1C62LjRuKIFsDRX7vBm0lgmCkZ1zQqDTh7ak20gwdnaYLGplmF2hEmhPqXeFce/Oqj1xIc+rn1FsSmDVaSe1/Vj19r7GUENrGnGj5tjr6KHVBKfZnoKNLwJ1oVKpdoOiC8Dz3Aln25ymygFX2AAAAAElFTkSuQmCC");
  position: absolute;
  left: -40px;
}
#header-nav {
  display: flex;
}
#header-nav .header-nav-link {
  padding-right: 1rem;
  color: #ddd;
}
#header-nav .header-nav-link:hover {
  color: #fff;
}
#posts {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#posts-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#posts-container .post {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #888;
}
#posts-container .post img {
  width: 100%;
}
#footer {
  background: linear-gradient(#444, #333);
}
#footer-container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  list-style: none;
  color: #aaa;
}
#footer-list .footer-list-item {
  padding-right: 1rem;
}
#footer-list .footer-list-item .footer-list-item-link {
  color: #aaa;
}
#footer-list .footer-list-item .footer-list-item-link:hover {
  color: #fff;
}
