html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
td,
tr,
table,
pre,
figure {
  margin: 0;
  padding: 0;
}
@import url("//fonts.googleapis.com/earlyaccess/notosanssc.css");
html {
  font-family: 'Roboto', 'Microsoft YaHei', 'Noto Sans SC';
}
a {
  text-decoration: none;
  outline: none;
}
#header {
  background: -webkit-linear-gradient(240deg, #00ced1, #4169e1);
}
#header-container {
  max-width: 800px;
  height: 240px;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#header-title {
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAABYklEQVRYR+3XvQ0CMQwFYK6gZQJKFmEVBmMVFqFkAloKUJCCfMFxnu3EEiI0FFzClxfn55bNj3wWznm4nJ41//V4ZtuMHu/qTyVgCYkGf6AaZEZHYt9QC9KDtZRWFfq43Vezvd3vqmWIJqsJpOwTTpTCObSE1QBpGrRPGJo7yOASy0GtQA6rhqZOECyCLMsrA7kQzKuew9JUJWirjLit0AzNydLRZyiH1OLK6Tdv+NLJRaEeIN0Cv45DpLbQ47JWy2h7Eeo9AFq7gxaZnk8lJV4wrOn2SjIj0zd0E7KCLemJG762wwg4e4Rqoa07LLqfcv3UjmJo6lsDoQnX/qg1C62LjRuKIFsDRX7vBm0lgmCkZ1zQqDTh7ak20gwdnaYLGplmF2hEmhPqXeFce/Oqj1xIc+rn1FsSmDVaSe1/Vj19r7GUENrGnGj5tjr6KHVBKfZnoKNLwJ1oVKpdoOiC8Dz3Aln25ymygFX2AAAAAElFTkSuQmCC");
}
#header-nav {
  display: flex;
}
#header-nav .header-nav-link {
  margin: 0 0.8rem;
  color: #ddd;
}
#header-nav .header-nav-link:visited {
  color: #ddd;
}
#header-nav .header-nav-link:hover {
  color: #fff;
}
#main-container {
  max-width: 800px;
  min-height: 900px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
#main-container:before {
  content: "";
  display: block;
  height: 0;
  width: 800px;
  visibility: hidden;
}
#main-container .read-more-link {
  margin: 2rem auto 1rem;
  text-align: center;
}
#main-container .read-more-link a {
  padding: 0.5rem;
  color: #444;
  border: 1px solid #444;
  border-radius: 5px;
}
#main-container .read-more-link a:hover {
  color: #276bc4;
  border-color: #276bc4;
}
#main-container .seperate-bar {
  margin-top: 2rem;
  border-bottom: 1px dashed #aaa;
}
#pagination-container {
  max-width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pagination-container .page-number {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 2rem;
  color: #aaa;
}
#pagination-container .page-number:visited {
  color: #aaa;
}
#pagination-container .page-number:hover {
  color: #fff;
  background-color: #aaa;
}
#pagination-container .current {
  color: #fff;
  background-color: #444;
}
#pagination-container .current:hover {
  color: #fff;
  background-color: #444;
}
#pagination-container .extend {
  display: block;
  height: 2rem;
  width: 3rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 2rem;
  color: #aaa;
}
#pagination-container .extend:visited {
  color: #aaa;
}
#pagination-container .extend:hover {
  color: #fff;
  background-color: #aaa;
}
#pagination-container .space {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 1.5rem;
}
.post {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
.post-header {
  margin-bottom: 2rem;
}
.post-header .post-title {
  font-size: 2rem;
}
.post-header .post-title a {
  color: #000;
}
.post-header .post-title .in-index:visited {
  color: #000;
}
.post-header .post-title .in-index:hover {
  color: #276bc4;
}
.post-header .post-detail {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed #aaa;
  color: #aaa;
  font-size: 1rem;
}
.post-content h1 {
  font-size: 2rem;
  margin: 1rem 0;
}
.post-content h2 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
}
.post-content h3 {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}
.post-content h4 {
  font-size: 1.2rem;
  margin: 0.6rem 0;
}
.post-content h5 {
  font-size: 1rem;
  margin: 0.6rem 0;
}
.post-content h6 {
  font-size: 1rem;
  margin: 0.6rem 0;
}
.post-content hr {
  margin: 1rem 0;
}
.post-content br {
  line-height: 0;
}
.post-content .img-broken .img-not-found {
  width: 300px;
  margin: 0 auto;
  background-color: #ddd;
}
.post-content .img-wrapper {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  transition: height 0.3s linear;
}
.post-content .img-wrapper .fancybox {
  margin: 0 auto;
  display: inline-block;
}
.post-content .img-wrapper .fancybox img {
  max-width: 100%;
  max-height: 400px;
  box-sizing: border-box;
}
.post-content .img-wrapper .fancybox .img-loaded {
  border: 5px solid #eee;
  background-repeat: no-repeat;
  background-position: -9999px -9999px;
}
.post-content .img-wrapper .img-caption {
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
.post-content p {
  line-height: 2rem;
}
.post-content code {
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #eee;
  font-size: 0.9rem;
  font-family: "Roboto Mono";
}
.post-content ul,
.post-content ol {
  list-style-position: inside;
  margin: 0.5rem 0;
  padding-left: 1rem;
}
.post-content li {
  line-height: 1.5rem;
}
.post-content blockquote {
  max-width: 100%;
  margin: 1rem 0;
}
.post-content blockquote p {
  padding: 1rem;
  background-color: #eee;
  color: #444;
  border-left: 5px solid #ddd;
  box-sizing: border-box;
}
.post-content .highlight {
  margin: 1rem 0;
  border-radius: 5px;
  position: relative;
  overflow: auto;
  font-size: 16px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  background-color: #292929;
}
.post-content .highlight:before {
  content: attr(data-code-type);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Roboto Mono";
  font-size: 0.8rem;
  text-indent: 1rem;
  line-height: 1.5rem;
}
.post-content .highlight::-webkit-scrollbar-track {
  background-color: #444;
  border-radius: 5px;
}
.post-content .highlight::-webkit-scrollbar {
  width: 10px;
}
.post-content .highlight::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(128,128,128,0.4);
}
.post-content .highlight .gutter {
  padding: 0 1rem 0 0.5rem;
}
.post-content .highlight .gutter .line {
  color: #aaa;
}
.post-content .highlight table {
  width: 100%;
  border-spacing: 0;
  border-top: 1.5rem solid #393939;
}
.post-content .highlight tbody {
  display: block;
  padding: 0.5rem;
}
.post-content .highlight span,
.post-content .highlight .line {
  color: #fff;
  font-size: 0.8rem;
  font-family: "Roboto Mono";
}
.post-content .highlight span::selection,
.post-content .highlight .line::selection {
  color: #fff;
  background: #276bc4;
}
.post-content .highlight .line {
  height: 1.5rem;
  line-height: 1.5rem;
}
.post-content .html .name {
  color: #e06c75;
}
.post-content .html .attr {
  color: #e8bb5e;
}
.post-content .html .string {
  color: #98c379;
}
.post-content .html .comment {
  color: #888;
}
.post-content .javascript .keyword {
  color: #da80ea;
}
.post-content .javascript .string {
  color: #98c379;
}
.post-content .javascript .number {
  color: #e8bb5e;
}
.post-content .javascript .comment {
  color: #888;
}
.post-content .bash .string {
  color: #98c379;
}
#footer {
  background: linear-gradient(#444, #333);
}
#footer-container {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
#footer-list .footer-copyright {
  flex: 0 0 100%;
  text-align: center;
}
#footer-list .footer-list-item {
  margin: 0 0.5rem;
  list-style: none;
  color: #aaa;
}
#footer-list .footer-list-item .footer-list-item-link {
  color: #aaa;
}
#footer-list .footer-list-item .footer-list-item-link:visited {
  color: #aaa;
}
#footer-list .footer-list-item .footer-list-item-link:hover {
  color: #fff;
}
#archive-container {
  padding: 1rem;
}
#archive-container .archive-item {
  display: flex;
  max-width: 500px;
  line-height: 1.2rem;
  margin: 0.5rem auto;
}
#archive-container .archive-item .archive-month-day {
  min-width: 5rem;
  color: #276bc4;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Roboto mono";
}
#archive-container .archive-item .archive-title {
  color: #000;
}
#archive-container .archive-item .archive-title:visited {
  color: #000;
}
#archive-container .archive-item .archive-title:hover {
  color: #276bc4;
}
#archive-container .archive-year {
  max-width: 500px;
  margin: 1.5rem auto 0rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #276bc4;
  border-bottom: 1px dashed #666;
}
#about-container {
  padding: 1rem;
}
#about-container .about-item {
  max-width: 500px;
  line-height: 1.5rem;
  margin: 1rem auto;
}
#about-container .about-item a {
  color: #276bc4;
}
#about-container .about-item a:visited {
  color: #276bc4;
}
#about-container .about-name {
  color: #276bc4;
  font-size: 1.5rem;
}
#about-container .about-quote {
  color: #aaa;
  font-size: 14px;
  font-family: "Roboto Mono";
}
