html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
td,
tr,
table,
pre,
figure {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Droid Sans';
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Consolas";
  src: url("http://oa97mm615.bkt.clouddn.com/Consolas.ttf");
}
#header {
  background: -webkit-linear-gradient(210deg, #4169e1, #00ced1);
}
#header-container {
  max-width: 900px;
  height: 160px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#header-title {
  margin-bottom: 3rem;
  position: relative;
  color: #fff;
  font-size: 2.5rem;
}
#header-title:before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAABYklEQVRYR+3XvQ0CMQwFYK6gZQJKFmEVBmMVFqFkAloKUJCCfMFxnu3EEiI0FFzClxfn55bNj3wWznm4nJ41//V4ZtuMHu/qTyVgCYkGf6AaZEZHYt9QC9KDtZRWFfq43Vezvd3vqmWIJqsJpOwTTpTCObSE1QBpGrRPGJo7yOASy0GtQA6rhqZOECyCLMsrA7kQzKuew9JUJWirjLit0AzNydLRZyiH1OLK6Tdv+NLJRaEeIN0Cv45DpLbQ47JWy2h7Eeo9AFq7gxaZnk8lJV4wrOn2SjIj0zd0E7KCLemJG762wwg4e4Rqoa07LLqfcv3UjmJo6lsDoQnX/qg1C62LjRuKIFsDRX7vBm0lgmCkZ1zQqDTh7ak20gwdnaYLGplmF2hEmhPqXeFce/Oqj1xIc+rn1FsSmDVaSe1/Vj19r7GUENrGnGj5tjr6KHVBKfZnoKNLwJ1oVKpdoOiC8Dz3Aln25ymygFX2AAAAAElFTkSuQmCC");
  position: absolute;
  left: -45px;
  top: 5px;
}
#header-nav {
  display: flex;
}
#header-nav .header-nav-link {
  padding-right: 1rem;
  color: #ddd;
}
#header-nav .header-nav-link:hover {
  color: #fff;
}
#main-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
#main-container:before {
  content: "";
  display: block;
  height: 0;
  width: 800px;
  visibility: hidden;
}
#main-container .read-more-link {
  margin: 2rem auto 1rem;
  text-align: center;
}
#main-container .read-more-link a {
  padding: 0.5rem;
  color: #444;
  border: 1px solid #444;
  border-radius: 5px;
}
#main-container .seperate-bar {
  margin-top: 2rem;
  border-bottom: 1px dashed #888;
}
#pagination-container {
  max-width: 900px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#pagination-container .page-number {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 2rem;
  color: #888;
}
#pagination-container .page-number:hover {
  color: #fff;
  background-color: #888;
}
#pagination-container .current {
  color: #fff;
  background-color: #444;
}
#pagination-container .current:hover {
  color: #fff;
  background-color: #444;
}
#pagination-container .extend {
  display: block;
  height: 2rem;
  width: 3rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 2rem;
  color: #888;
}
#pagination-container .extend:hover {
  color: #fff;
  background-color: #888;
}
#pagination-container .space {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem 1rem 0;
  border-radius: 10%;
  text-align: center;
  line-height: 1.5rem;
}
.post {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
.post h1 {
  font-size: 2rem;
  margin: 1rem 0;
}
.post h2 {
  font-size: 1.6rem;
  margin: 0.8rem 0;
}
.post h3 {
  font-size: 1.4rem;
  margin: 0.6rem 0;
}
.post h4 {
  font-size: 1.2rem;
  margin: 0.6rem 0;
}
.post h5 {
  font-size: 1rem;
  margin: 0.6rem 0;
}
.post h6 {
  font-size: 1rem;
  margin: 0.6rem 0;
}
.post hr {
  margin: 1rem 0;
}
.post img {
  width: 100%;
}
.post p {
  line-height: 2rem;
}
.post code {
  padding: 1px 2px;
  margin: 0 2px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #f8f8f8;
  font-family: "Consolas";
}
.post ul,
.post ol {
  list-style-position: inside;
  margin: 0.5rem 0;
  padding-left: 1rem;
}
.post .highlight {
  margin: 2rem 1rem;
  border-radius: 5px;
  position: relative;
  overflow: auto;
  font-size: 16px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  background-color: #292929;
}
.post .highlight:before {
  content: attr(data-code-type);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "Consolas";
  text-indent: 1rem;
  line-height: 2rem;
}
.post .highlight table {
  width: 100%;
  border-spacing: 0;
  border-top: 2rem solid #393939;
}
.post .highlight tbody {
  display: block;
  padding: 1rem;
}
.post .highlight span,
.post .highlight .line {
  color: #fff;
  font-size: 0.9rem;
  font-family: "Consolas";
}
.post .highlight span::selection,
.post .highlight .line::selection {
  color: #fff;
  background: #00bfff;
}
.post .highlight .line {
  height: 1.5rem;
  line-height: 1.5rem;
}
.post .html .name {
  color: #e06c75;
}
.post .html .attr {
  color: #e8bb5e;
}
.post .html .string {
  color: #98c379;
}
.post .html .comment {
  color: #888;
}
.post .javascript .keyword {
  color: #da80ea;
}
.post .javascript .string {
  color: #98c379;
}
.post .javascript .number {
  color: #e8bb5e;
}
.post .javascript .comment {
  color: #888;
}
.post .bash .string {
  color: #98c379;
}
#footer {
  background: linear-gradient(#444, #333);
}
#footer-container {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  list-style: none;
  color: #aaa;
}
#footer-list .footer-list-item {
  margin-right: 1rem;
}
#footer-list .footer-list-item .footer-list-item-link {
  color: #aaa;
}
#footer-list .footer-list-item .footer-list-item-link:hover {
  color: #fff;
}
